@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.html, body, footer{
    margin: 0px;
    padding: 0px;
}

* {margin: 0;
padding: 0;}

.bordasvideo {
    border: 25px solid #551A8B;
    border-radius: 25px;
    padding: 0px;
    border-image-slice: 9;
    border-image-repeat: repeat;
}

.bordas2{
    border: 25px solid #551A8B;
   border-radius: 20px;
   margin: 40px;
}

.bordas1{
    padding-right: 20px;
    border: #f5cdd3;
    border-radius: 20px;
    border: 5px;
    border-style:solid;
}

.bordas{
   border: 10px solid #551A8B;
   border-radius: 10px;
}

.cor1{
    color:#00008B ;
}

.cor{
    color: aliceblue;
    background-color: #51aeae;
}

.fundo{
    background-image: linear-gradient(to top,#8470FF, #f5cdd3);
}

.fundo1{
    background-color: #551A8B;
}

.canto{
float: left;
color:black;
background: #71C1F0;
width: 350px;
text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #551A8B;
}    

.conteiner{
    text-align: center;
    align-items: center;
}

.flex1{
    display: flex;
    margin-top: 0px auto;
    padding: 30px 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex2{
    display: flex;
    margin-top: 0px auto;
    justify-content: space-between;
    padding: 20px 100px;
    flex-wrap: wrap;
}

.flex3{
    display: flex;
    margin-top: 0px auto;
    justify-content: space-between;
    padding: 100px 200px;
    flex-wrap: wrap;
}

.flex4{
    display: flex;
    margin-top: 0px auto;
    justify-content: space-between;
    padding: 30px 100px;
    flex-wrap: wrap;
}

.grid{
    display: flex;
    align-items: center;

}

.grid1{
    display: flex;
    align-items: center;

}

.img{
    width: 200px;
}

.imag {
    width: 550px;
}

.img1{
   width: 400px
}

.titulo1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px; 
}

.titulo2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color:#6959CD; text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px
} 

.titulo3{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: rgb(rgb(53, 48, 77), green, blue);
}

.titulo4{
    border: 15px solid #551A8B;
    border-radius: 20px;
    color:#FFD700; text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
    font-size: 50px;
    text-align: center;
}

.titulo5{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    padding: 50px;
}

.titulo6{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    padding: 50px;
}

.titulo7{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 0px;
}

.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.texto{
    text-align: center;
}

.margin{
    margin: 40px;
}

.margin1{
    margin-top: 100px;
    margin-bottom: 100px;
}

.margin2{
    margin: 40px;
}

.margin3{
    margin: 40px;
}

.margin4{
    margin-top: 40px;
}

.margin5{
    margin: 100px;
}

.padding{
    padding-top: 40px;
}

.padding1{
    padding: 30px;
}

.font{
    font-size: 80px;
}

.font1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.button{
    border: 5px;
    border-radius: 20px;
    border-color: #FFC125;
    border-style: solid;
    padding: 15px;
    width: 350px;
    cursor: pointer; 
}

.button1{
    font-size: 35px;
    border: 10px;
    border-radius: 20px;
    border-color: #FFC125;
    background-color: #51aeae;
    border-style: solid;
    padding: 20px;
    width: 1000px;
    padding: 10px;
    cursor: pointer;  
}

.button2{
    font-size: 35px;
    border: 10px;
    border-radius: 20px;
    border-color: #FFC125;
    background-color: #51aeae;
    border-style: solid;
    padding: 20px;
    width: 800px;
    padding: 10px;
    cursor: pointer;  
}

.zoom {
	overflow: hidden;
}
.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.itens{
    align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 600px;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
    color:#8470FF
}

.swiper-pagination-bullet {
    background: #551A8B;
    width: 25px;
    height: 25px;
}

